<!-- 템플릿 만들기템플릿은 프론트엔드 소스코드가 저장되는 파일들이면서 장고에서 데이터를 껴넣는 양식 파일이기도 하다. -->
<!-- 어떤 뷰를 만들 때는 그 뷰의 내용을 어떻게 브라우저에 표시할지 템플릿을 가지고 결정한다. -->

<!-- 템플릿 파일은 정해진 위치가 있다. -->
<!-- 앱 폴더 내부에 templates 폴더에 위치해야 하며 보통 앱 이름으로 폴더를 한 번 더 만들어 저장한다. -->
<!-- templates/bookmark 폴더를 만들고 해당 폴더를 마우스 오른쪽 버튼으로 클릭해 [New -> HTML File] 메뉴를 선택한다. -->

<!-- 소스 코드 첫 부분에는 북마크 추가하기 링크를 만들어 두었고, 그 다음부터 북마크의 목록을 출력하기 위해서 table 태그를 사용한다. -->
<div class="btn-group">
    <a href="#" class="btn btn-info">Add Bookmark</a>
</div>
<p></p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Site</th>
            <th scope="col">URL</th>
            <th scope="col">Modify</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <!-- 제네릭 뷰에서는 모델의 오브젝트가 여러 개일 경우 object_list라는 변수로 전달한다. -->
        <!-- 이 object_list에서 bookmark라는 이름으로 북마크를 하나씩 꺼내 북마크 당 한 줄씩 출력할 것이다. -->
        <!-- 한 북마크는 tr 태그로 묶는다. -->
        <!-- 각각의 북마크를 출력할 때 사이트 이름 url 등을 출력하고 수정 버튼과 지우기 버튼도 함께 만들어뒀다. -->
        <!-- 템플릿 문법에서 중괄호 퍼센트는 기능 태그이다. -->
        {% for bookmark in object_list %}
            <tr>
                <!-- 중괄호 중괄호는 출력이 되는 태그이다. print라고 생각하면 된다. -->
                <td>{{ forloop.counter }}</td>
                <td><a href="#">{{ bookmark.site_name }}</a></td>
                <td><a href="{{ bookmark.url }}" target="_blank">{{ bookmark.url }}</a></td>
                <td><a href="#" class="btn btn-success btn-sm">Modify</a></td>
                <td><a href="#" class="btn btn-danger btn-sm">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<!-- HTML 파일을 새로 만들었으니 서버를 다시 실행하고 결과를 확인해보자. -->